@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
  background-color: ghostwhite !important;
  font-family: 'Open Sans', sans-serif !important;
}
.navbar{
    background-color: transparent !important;
}    
.nav li a{
   margin:20px !important;
   color:#293559 !important;
   font-size: 15px !important;
   font-weight:600 !important;
}
.nav li a:hover{
    background-color: transparent !important;
}
#text h1{
    color:#0975F3 !important;
    font-size: 25px !important;
    font-weight:500 !important;
}
#text h4{
    color:#293559;
}
#text{
    margin-top: 60px !important; 
    margin-left: 15px;
}
#text h1,#text h4{
    margin: 27px;
}
#signup,#start{
    color:#ffffff !important;
    background-color:#0975F3!important;
    border-radius:10px !important;
    margin: 25px !important;
    padding: 7px 35px !important;
    font-size: 15px !important;
    font-weight:900 !important;
}
.navbar-brand{
    margin:15px !important;
    color:#0975F3 !important;
    font-size: 25px !important;
    font-weight:600 !important;
}
span{
    background-color:#0975F3 !important;
    width: 40px !important;
    height: 6px !important;
}
@media screen and (max-width:600px){
    #text h1{
        font-size: 15px !important;
        font-weight:300 !important;
    }
    #text{
        margin-top: 20px !important; 
        margin-left: 10px;
    }
    #text h4{
        font-size: 10px !important;
    }
    #signup,#start{
        color:#ffffff !important;
        background-color:#0975F3!important;
        border-radius:5px !important;
        margin: 25px !important;
        padding: 5px 17px !important;
        font-size: 10px !important;
        font-weight:400 !important;
    }
    .navbar-brand{
        margin: 5px !important;
        color:#0975F3 !important;
        font-size: 15px !important;
        font-weight:400 !important;
    }
    span{
        background-color:#0975F3 !important;
        width: 20px !important;
        height: 3px !important;
    }
    #img{
        width: 300px !important;
        height: 300px !important;
    }
}



form h3{
    margin-left: 150px;
    color:#0975F3;
}
form{
    display: flex;
    flex-direction:column;
}
input{
    width:400px !important;
    height: 45px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #E7E9F6;
    text-align: center;
    font-size: 35px;
    font-size: 600;
}
input::placeholder{
    text-align: center;
    color:gray;
}
 form label{
    color: #8F8AA8;
    font-size: 25px;
    font-weight: 800;
}
#submit{
    width:250px;
    height: 45px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color:#0975F3;
    color: #fff;
    border-radius: 10px;
    font-size: 20px;
    box-shadow: 3px 3px 5px #E7E9F6;
}
#sign{
    display: inline-flex;
    }
#signin{
  margin-left: 70px;
  margin-top: 10px;
  color: #0975F3;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;

}
#detiles{
    display:flex;
    flex-direction: row;
    margin: 15px;
}
#detiles h5{
    color: #171717;
    font-size: 20px;
    font-weight: 40px;
    margin-right: 30px;
}
#detiles .a{
    font-size: 20px;
    font-weight: 40px;
    text-decoration: none;
   margin:6px;
 }
 #signup_container{
    margin-top: 30px !important; 
    margin-left: 20px;
}
#signin_container{
    margin-top: 70px !important; 
    margin-left: 40px;
}
#gear1,#gear2,#gear1_2,#gear1_3,#gear2_2{
animation: move 1s infinite;
transform-box: fill-box;
transform-origin:center;
}

@keyframes move {
    10%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
        
    }
    100%{
        transform: rotate(360deg);
    }
    }
    @media screen and (max-width:600px){
        input{
            width:150px;
            height: 35px;
        }
        form{
            margin-left: 0px;
        }
       form h3{
            margin-left:20px;
        }
      #sign #submit{
            width:150px;
            height: 35px;
        }
        #signin{
            margin-left:35px;
            margin-top: 10px;
        }
        #detiles h5{
            font-size: 15px;
            font-weight:300;
            margin-right: 15px;
        }
        #detiles .a{
            font-size: 15px;
            font-weight:300px;
            text-decoration: none;
           margin:7px;
         }
    }    



#search_container{
        display: flex;
        flex-direction: row;
        margin: 15px;
        align-items: center;
        justify-content: center;
    }
#searchbar{
    width:550px !important;
    height: 35px;
    border-radius: 20px;
    outline: none;
    border: 4px solid #0975F3;
    background-color: transparent;
    font-size: 16px;
    font-size: 400;
    margin: 10px;
    
}
/*#home_container{
    display: flex !important;
    flex-direction: row !important;
    margin: 15px !important;
    justify-content:space-evenly !important;
}*/

#user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0975F3;
    color: white;
    font-weight: 800;
    border: none;
    margin-top: 20px !important;
    margin-left: 450px !important;
    outline: none;
}
#searchbtn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0975F3;
    color: white;
    font-weight: 800;
    border: none;
    outline: none;
}
#card{
    width: 230px;
    height: 450px;
    border-radius: 5px;
    border: 3px solid #FF5161;
    box-shadow: 10px 10px 20px gainsboro;
    margin:20px;
}
#card #card-img{
    width: 225px;
    height: 230px;
}
#card #card-title{
    font-size: 15px;
    margin-left: 5px;
    overflow: hidden;
}
#card #card-text{
    font-size: 9px;
    font-weight: 500;
    margin-left: 5px;
    word-wrap: break-word;
    overflow: hidden;
}
#readbtn{
    width:140px;
    height: 35px;
    border-radius:3px;
    outline: none;
    border: none;
    background-color:#0975F3;
    color: #fff;
    box-shadow: 6px 7px 10px #E7E9F6;
    text-decoration: none;
    margin: 10px;
}
#cate li{
    display: inline-block;
}
#cate li a{
    text-decoration: none;
}
.nav .navbar-nav li .active{
    background-color: transparent !important;
    color: #FF5161 !important;
}
#pagination{
    margin-left: 230px !important;
}
@media screen and (max-width:600px){
 #searchbar{
width:350px !important;
height: 35px;
border-radius: 10px;
font-size: 16px;
margin: 10px;
}
#user{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #0975F3;
    color: white;
    font-weight: 500;
    border: none;
    margin-left: 20px !important;
    outline: none;
}
#card{
    width: 230px;
    height: 450px;
    border-radius: 5px;
    border: 3px solid #FF5161;
    box-shadow: 10px 10px 20px gainsboro;
    margin:20px;
    margin-left: 60px;
}
#pagination{
    margin-left: 80px !important;
}
}
  